# Prerequisites
*.d
*.MAR
*.PR
*.MAP
*.MMAP
*.EM
*.json
*.dot
*.pdf
*.ps
*.dSYM

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/
/Release/
/bin/
/build/
/build_native/

# Eclipse settings
.settings/
.cproject
.project
.DS_Store
.vscode/
